@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
#root {
  background-color: #385A64;
}
.App {
  text-align: center;
}

body {
  padding : 0;
  margin: 0;
  font-family:'Inter', sans-serif;
}